table{
	width: 100%;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd) {
  background-color: white;
  color: black;
}

a:link {
  color: #3d305d;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #3d305d;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}